*,
*:before,
*::after{
    padding:0;
    margin:0;
    box-sizing:border-box;

}
body{
    height:100vh;
    background: linear-gradient( rgb(255, 255, 255),#470eb1);
}
.container{
    border:2px solid white;
    width:40%;
    width:500px;
    position:absolute;
    transform:translate(-50%,-50%);
    top:50%;
    left:50%;
    padding: 30px 40px;
}
#newtask{
    background-color: white;
    padding:30px 20px;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
}
#newtask input{
    width:70%;
    height:45px;
    font-family: 'poppins',sans-serif;
    font-size: 15px;
    border:2px solid #adabab;
    padding:12px;
    color:#111111;
    font-weight:500;
    position: relative;
    border-radius: 5px;
}
#newtask input:focus{
   outline:none ;
   border-color :#29a2de ; 
}
#newtask button{
    position:relative;
    float:right ;
    width:20%;
    height:45px;
    border-radius: 5px;
    font-family:'poppins',sans-serif;
    font-weight: 500;
    font-size:16px;
    background-color:#29a2de;
    border:none;
    color:white;
    cursor:pointer;
}
#task{
    background-color:white;
    padding:30px 20px;
    margin-top: 60px;
    border-radius: 10px;
    box-shadow:0 15px 30px black;
    width:100%;
    position: relative;
}
.task{
    background-color: 50px;
    height:50px;
    padding:5px 10px;
    margin: 10px;
    display:flex;
    align-items: center;
    justify-content:space-between ;
    border-bottom: 2px solid #adabab;
    cursor: pointer;
}
.task span {
    font-family: 'poppins',sans-serif;
    font-size:15px ;
    font-weight: 400;

}
.task button{
    background-color:#29a2de;
    color: white;
    height: 100%;
    width:40px;
    border-radius: 5px;
    border:none;
    outline:none;
}
.completed{
    text-decoration: line-through;
}
